body{
    background-color: black;
    color:rgb(206, 143, 143);
}
.yjhd{
    background-color: rgb(65, 28, 28);
    border-radius:10px;
}
*{
    padding:0;
    margin:0;
}
.yjhd h1{
    text-decoration: underline;
}
.content{
    background-color:rgb(206, 143, 143); 
    color:black;
    width:500px;
    margin-left:100px;
    margin-top:50px;
    border-radius:10px;
    font-style: italic;
    display:inline-block;
}
.content h2{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.content h2:hover{
        color:white;
    }
    .content2{
        background-color:rgb(206, 143, 143); 
        color:black;
        width:500px;
        margin-left:100px;
        margin-top:50px;
        border-radius:10px;
        font-style: italic;
        display:inline-block;
    }
    .content2 h2{
        font-weight: bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .content2 h2:hover{
            color:white;
        }
.photo{
    width:100px;
}
/* star rating */
.stars {
    display: flex;
    font-size: 50px;
    cursor: pointer;
  }
  
  .star {
    color: gray; 
    transition: color 0.2s; 
  }
  
  .star.active,
  .star.hover {
    color: gold; 
  }
  .p {
    font-size: 50px;
  }