.navbar{
    background-color: #a965fd;
    position:center;
    padding:20px;
    border-radius:30%;
}
.n1{
    padding:50px;
    margin:50px;
    background-color:black;
    opacity:0.8;
    width:500px;
    color:grey;
    border-radius:20%;
}
button{
    background-color: #65fdc8;
    padding:40px;
    border-radius:100%;
    margin:40px;
}
.n1 h1{
    color:bisque
}
*{
    padding:0; 
    margin:0;
    
}
.n1 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image:url('shiddat image copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}